@import 'tailwindcss';

@font-face {
  font-family: 'Quicksand';
  src: url('./assets/Quicksand-VariableFont_wght.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

span {
  font-family: 'Quicksand', sans-serif;
}

body {
  background-size: cover;
  background-position: center;
  height: 100dvh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  transition:
    background-color 0.6s cubic-bezier(0.4, 0, 0.2, 1),
    background-image 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
